<%= simple_form_for(@gift_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image_link %>
    <%= f.input :product_link %>
    <%= f.input :gift_creator_id, :as => :hidden, :input_html => { :value => current_gift_creator.id } %>
  </div>

  <%= f.button :submit, "Create" %>
<% end %>
