<h1>Listing gift_templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image link</th>
    <th>Product link</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gift_templates.each do |gift_template| %>
  <tr>
    <td><%= gift_template.name %></td>
    <td><%= gift_template.image_link %></td>
    <td><%= gift_template.product_link %></td>
    <td><%= gift_template.user %></td>
    <td><%= link_to 'Show', gift_template %></td>
    <td><%= link_to 'Edit', edit_gift_template_path(gift_template) %></td>
    <td><%= link_to 'Destroy', gift_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift template', new_gift_template_path %>
