<h1>Gift templates</h1>
<br />
<table class="table">
  <tr>
    <th>Name</th>
    <th>Image link</th>
    <th>Product link</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gift_templates.each do |gift_template| %>
  <tr>
    <td><%= link_to gift_template.name, gift_template %></td>
    <td><%= gift_template.image_link %></td>
    <td><%= gift_template.product_link %></td>
    <td><%= gift_template.user.name %></td>
    <td><%= link_to 'Edit', edit_gift_template_path(gift_template), :class => "btn btn-primary btn-mini" %></td>
    <td><%= link_to 'Remove', gift_template, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %></td>
  </tr>
<% end %>
</table>

