<% if user_signed_in? %>
  <p class="pull-right"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></p>
<% end %>
<br />
<br />
<br />
<br />
<div class="row-fluid">
	<div class="span6 jevoudrais-table-header">
		<h2>Wish list</h2>
		<table class="table">
			<tbody id="gifts">
				<% @gifts.each do |gift| %>
					<tr id="<%= gift.id %>">
						<td><%= gift.name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="input-append">
		<%= form_for Gift.new, :remote => true do |f| %>
			<%= f.text_field :name %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.submit "Add gift", :class => "btn" %>		
		<% end %>	
		</div>		
	</div>
	
	<div class="span6 jevoudrais-table-header">
		<h2>Friends</h2>
		<table class="table">
			<tbody>
				
			</tbody>			
		</table>
	</div>	
</div>
