<div class="span5 jevoudrais-table-header">
	<h2>Your wish list</h2>
	<table class="table">
		<tbody id="gifts">
			<% @gifts.each do |gift| %>
			<tr id="<%= gift.id %>">
				<td><%= gift.name %></td>
				<% if gift.user == current_user %>
					<td><%= link_to gift, :remote => true, :method => :delete, :id => "delete-gift", :title => "Remove gift" do %>
						<i class="icon-remove"></i>
					<% end %></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="input-append">
		<%= form_for Gift.new, :html => {:id => 'gift-form'},:remote => true do |f| %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :gift_template_id, :id => 'hidden-gift-template' %>
		<div class="ui-widget">
			<div id="error-text"></div>
			<%= f.text_field :name, :id => "gift-name", :class => "input-large" %>	
			<%= link_to 'Add gift', '', :class => 'btn', :id => 'submit-link' %>
		</div>	
		<% end %>	
	</div>	
	
	<br /><br />
	<h2>Your events</h2>
	<table class="table">
		<tbody id="events">
			<% @own_events.each do |event| %>
			<tr id="<%= event.id %>">
				<td><%= event.name %></td>
				<td><%= event.event_date %></td>
				<td><%= link_to event, :remote => true, :method => :delete, :id => "delete-event", :title => "Remove event	" do %>
					<i class="icon-remove"></i>
				<% end %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<a href="#eventModal" role="button" class="btn pull-right" data-toggle="modal">New event</a>
	
	<!-- Modal -->
	<div id="eventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="jevoudrais-table-header modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h2 id="myModalLabel">New event</h2>
	  </div>
	  <div class="modal-body">
	    <%= form_for(Event.new, :html => { :class => 'form-vertical', :id => 'events-form' } ) do |f| %>
				<div class="field">
					<p>Name of event:</p>
			  	<%= f.text_field :name, :autofocus => true %>
				</div>
				<br />
				<div class="field">
					<p>Date of event:</p>
			  	<%= f.text_field :event_date,  :id => 'datepicker' %>
				</div>
				<br />
				<div class="field">
					<p>Is the event recurring?&nbsp;</p>
					<%= f.check_box :recurring %>
				</div>
				
				
				<%= f.hidden_field :user_id, :value => current_user.id %><br />			
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <%= f.submit 'Save event', :class => 'btn btn-primary' %>
	  </div>
		<% end %>
	</div>		
</div>

<div class="span5 offset2 jevoudrais-table-header">
	<h2>Friends</h2>
	<table class="table">
		<tbody class="vert-align">
			<% @events.each do |event| %>
			<tr>
				<td><%= link_to image_tag(event.user.image_link, :alt => event.user.name), gifts_path(:user => event.user.id) %></td>
				<td><%= link_to event.user.name, gifts_path(:user => event.user.id) %></td>
				<td><%= event.name %></td>
				<td><%= event.event_date.strftime("%B %e") %></td>
			</tr>
			<% end %>
		</tbody>			
	</table>
</div>


<div id="notificationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Notifications</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <% @notifications.each do |notification| %>
			<p id="<%= notification.id %>"><%= notification.body %></p>
		<% end %>
  </div>
</div>