<div class="span6">
<div class="jevoudrais-table-header">
<h2>Gifts for <%= @user.name %></h2>
<br />
</div>
<table class="table">
<tbody>
<% @gifts.each do |gift| %>
  <tr>
    <td><%= gift.name %></td>
		<% unless gift.user == current_user %>
			<td id="giver-<%= gift.id %>">
			<% if gift.giver_id %>
				<%= User.get_giver(gift.giver_id) %>
			<% else %>
				<%= button_to "Give", {:action => "give", :id => gift.id }, :remote => true, :id => "give-#{gift.id}", :class => "btn btn-success btn-mini" %>
			<% end %>
			</td>
		<% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
