<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gift.name %>
</p>

<p>
  <b>Receiver:</b>
  <%= @gift.receiver %>
</p>

<p>
  <b>Giver:</b>
  <%= @gift.giver %>
</p>


<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
