<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>

<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>  

	<div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
	
	<br />
	<p><small>None of the information below will be stored,<br /> we just wan't to make sure that you are really<br />interested in making jevoudrais the best wish list in the world.</small></p>
	
	<div>Credit Card Number<br />
  <%= text_field_tag :credit_card_number %></div>

  <div>Month<br />
  <%= select_tag(:month, options_for_select(1..12)) %></div>

  <div>Year<br />
  <%= select_tag(:year, options_for_select(Date.today.year..(Date.today.year + 12))) %></div>

	<div>CVV<br />
  <%= text_field_tag :cvv %></div>

  <%= f.submit 'Sign up', :class => 'btn btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
