<div class="jevoudrais-header">
	<h1>jevoudrais</h1>
</div>
<br />
<br />
<br />
<br />
<div class="jevoudrais-login">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
</div>
